<div class="modal @ClassModal">
    <div class="modal-background" @onclick="EventoModal"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete" aria-label="close" @onclick="EventoModal"></button>
        </header>
        @Formulario
    </div>
</div>